*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #a9adb1;
  font-family: 'Courier New', Courier, monospace;
}
main {
  display: grid;
  justify-content: center;
}
.container {
  background: white;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  max-width: 50rem;
}
h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: rgb(196, 169, 18);
}
.tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  letter-spacing: 2px;
}

.btn {
  background: transparent;
  color: rgb(196, 169, 18);
  border: 2px solid rgb(196, 169, 18);
  padding: 2px 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: rotate(90deg);
}

.text {
  border-top: 1px solid;
  display: none;
}

.show-text .text {
  display: block;
}

.fa-minus {
  display: none;
}

.show-text .fa-minus {
  display: inline-block;
}

.show-text .fa-xmark {
  display: none;
}
